<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/uonoe/apps/master/iays.ipa?token=AsiRhJf15NHuBGewvXXDwIJOWjy1vtkNks5cPVrEwA%3D%3D</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/uonoe/apps/master/icon57x57.jpg?token=AsiRhH28NAhhS5KKcKZOgNI_v1MYpblAks5cPVqLwA%3D%3D</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/uonoe/apps/master/icon512x512.jpg?token=AsiRhK0bzF4WUUbWoibJ3ZnAxDdpe7nxks5cPVpxwA%3D%3D</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>title</key>
				<string>永盛</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>bundle-identifier</key>
				<string>com.tatzipys.v1234</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
